
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Form</title>
</head>
<body>
  <div align="center">
    <form action="#" th:action="@{/register/save}" th:object="${hero}" method="post">

    <h1>Add a hero to the database</h1>

    <label>Hero name</label>
    <input type="text" th:field="*{heroName}"/>

    <label>Real name</label>
    <input type="text" th:field="*{realName}"/>

    <label>Creation year</label>
    <input type="number" min="1900" max="2023" th:field="*{creationYear}"/>

    <label>City</label>
    <select th:field="*{city}">
      <option th:each="c : ${listCities}" th:value="c" th:text="c"/>
    </select>

    <label>Powers</label>

    <button type="submit">Submit hero</button>
</form>
  </div>


</body>
</html>