
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Form</title>
  <link th:href="@{FormStyle.css}"  rel="stylesheet">

</head>
<body>
<h1>Add a hero to the database</h1>
  <div align="center">

    <form action="#" th:action="@{/register}" method="post" th:object="${hero}">


    <label>Hero name</label>
    <input type="text" th:field="*{heroName}"/><br/>

    <label>Real name</label>
    <input type="text" th:field="*{realName}"/><br/>

    <label>Creation year</label>
    <input type="number" min="1900" max="2023" th:field="*{creationYear}"/><br/>

    <label>City</label>
    <select th:field="*{city}">
      <option th:each="c : ${listCities}" th:value="${c}" th:text="${c}"/>
    </select><br/>

      <label>Powers:
        <input type="checkbox" name="listPowers"
               th:each="power : ${listPower}"
               th:text="${power}"
               th:value="${power}"
               th:field="*{powerList}"
        />
      </label>
      <br/>

    <button type="submit">Submit hero</button>
    <button type="reset">Reset</button>
</form>
  </div>


</body>
</html>